---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  photo: ImageMetadata;
  name: string;
}

const { photo, name } = Astro.props;
---

<div class="overflow-hidden rounded-lg max-h-[400px]">
  <Image
    src={photo}
    alt={name}
    class="h-full w-full object-cover"
    widths={[640, 1024, 1440]}
    sizes="(max-width: 768px) 100vw, 1024px"
  />
</div>
