---
interface Props {
  url: string;
  resize?: boolean;
  id?: string;
}

const { url, resize = true, id = "calendly-embed" } = Astro.props;
---

<div
  id={id}
  class="calendly-embed-container"
  style="min-width: 320px; min-height: 660px;"
>
  <p class="text-text-light py-8 text-center text-lg">
    <a href={url} class="text-primary underline">Schedule a visit on Calendly</a>
  </p>
</div>

<script
  is:inline
  src="https://assets.calendly.com/assets/external/widget.js"
  async></script>

<script is:inline define:vars={{ url, resize, id }}>
  (function () {
    var attempts = 0;
    function initCalendly() {
      if (window.Calendly) {
        window.Calendly.initInlineWidget({
          url: url,
          parentElement: document.getElementById(id),
          resize: resize,
        });
      } else if (attempts < 50) {
        attempts++;
        setTimeout(initCalendly, 100);
      }
    }
    initCalendly();
  })();
</script>
